* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3c0066;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
